body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #fff;
	background-color: #232629;
}
p {
	line-height: 1.3;
}
h2 {
	color: #FEC619;
	margin-top: 30%;
	font-size: 1.9em;
	line-height: 1;
	letter-spacing: 2px;
	text-transform: uppercase;
}
/* CONTENT CONTAINER */

.container {
	padding: 50px;
	max-width: 500px;
	min-width: 200px;
	margin: 0 auto;
}